Data Sets Schema and Examples/xml_schema.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:d2p1="http://schemas.datacontract.org/2004/07/IntApp.Wilco.Model.Integrations"
           xmlns:d5p1="http://schemas.datacontract.org/2004/07/IntApp.Wilco.Model.DataSets"
           xmlns:d6p1="http://schemas.datacontract.org/2004/07/IntApp.Wilco.Model.DataSets.AggregationFunctions"
           xmlns:i="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  
  <xs:import namespace="http://schemas.datacontract.org/2004/07/IntApp.Wilco.Model.Integrations" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/IntApp.Wilco.Model.DataSets" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/IntApp.Wilco.Model.DataSets.AggregationFunctions" />

  <xs:element name="QueryIntegrations" type="d2p1:QueryIntegrationsType" />

  <xs:complexType name="QueryIntegrationsType">
    <xs:sequence>
      <xs:element name="QueryIntegration" type="d2p1:QueryIntegrationType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="QueryIntegrationType">
    <xs:sequence>
      <xs:element name="Id" type="xs:integer" />
      <xs:element name="SchemaVersion" type="xs:integer" />
      <xs:element name="Active" type="xs:boolean" />
      <xs:element name="DatasourceId" type="xs:integer" />
      <xs:element name="Draft" type="xs:boolean" />
      <xs:element name="IgnoreClientMatterSecurity" type="xs:boolean" />
      <xs:element name="IsIntegrationTypeUserSelected" type="xs:boolean" />
      <xs:element name="Name" type="xs:string" />
      <xs:element name="QueryBuilder" type="d2p1:QueryBuilderType" />
      <xs:element name="QueryIntegrationObjectType" type="xs:string" />
      <xs:element name="QueryIntegrationType" type="xs:string" />
      <xs:element name="useDeletedFlagForParties" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="QueryBuilderType">
    <xs:complexContent>
      <xs:extension base="d2p1:OpenLinkQueryBuilderType">
        <xs:sequence>
          <xs:element name="RunAsDSLQuery" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OpenLinkQueryBuilderType" abstract="true">
    <xs:sequence>
      <xs:element name="DataSetSettings" type="d5p1:DataSetSettingsType" />
      <xs:element name="DslQuerySettings" type="d2p1:DslQuerySettingsType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DataSetSettingsType">
    <xs:sequence>
      <!-- Define elements and types within DataSetSettings based on your XML structure -->
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DslQuerySettingsType">
    <xs:sequence>
      <!-- Define elements and types within DslQuerySettings based on your XML structure -->
    </xs:sequence>
  </xs:complexType>

  <!-- Define additional complex types and elements as necessary -->

</xs:schema>
